@import "./utils/variables";
@import "./utils/mixins";
@import "./components/how-made";
@import "./components/reviews";
@import "./components/header";
@import "./components/headerHero";
@import "./components/hero";
@import "../sass/components/mixins";
@import "../sass/components/header";
@import "../sass/components/headerHero";
@import "../sass/components/hero";


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}