$color-green: #84a178;
$color-yellow: #f8d24e;
$color-yellow-panel: #f8d24eb2;
$color-white: #fcfcfc;
$color-black: #000000;
$color-dark: #131313;
$color-dot-active: #84a178;
$color-dot-inactive: #d9d9d9;

$font-montserrat: "Montserrat", sans-serif;
$font-seymour: "Seymour One", sans-serif;

$radius-circle: 140px;
$radius-card: 10px;
$radius-img: 8px;
$radius-btn: 10px;
